html {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	color: #0a0a23;
}

span {
	font-weight: normal;
}

span[class~="sr-only"] {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	clip-path: inset(50%) !important;

	width: 1px !important;
	height: 1px !important;

	padding: 0 !important;
	border: 0 !important;
	margin: -1px !important;

	white-space: nowrap !important;
	overflow: hidden !important;
}

section {
	max-width: 40rem;
	margin: 0 auto;
	border: 2px solid #d0d0d5;
}

h1 {
	max-width: 37.25rem;
	padding: 1.5rem 1.25rem;
	margin: 0 auto;
}

h1 .flex {
	display: flex;
	flex-direction: column-reverse;

	gap: 1rem;
}

h1 .flex span:first-of-type {
	font-size: 0.7em;
}

h1 .flex span:last-of-type {
	font-size: 1.2em;
}

table {
	position: relative;
	width: 100%;

	border: 0;
	border-collapse: collapse;
	margin-top: 3rem;
}

table caption {
	position: absolute;
	top: -2.25rem;
	left: 0.5rem;

	font-size: 1.3em;
	font-weight: normal;
	color: #356eaf;
}

tbody td {
	width: 100vw;
	min-width: 4rem;
	max-width: 4rem;
}

tbody th {
	width: calc(100% - 12rem);
}

tr[class="data"] {
	background-image: linear-gradient(
		to bottom,
		#dfdfe2 1.845rem,
		white 1.845rem
	);
}

tr[class="data"] td {
	vertical-align: top;
	text-align: right;
	padding: 0.3rem 0.25rem 0;
}

tr.data td:last-of-type {
	padding-right: 0.5rem;
}

tr[class="data"] th {
	padding-top: 0.3rem;
	padding-left: 0.5rem;
	text-align: left;
}

tr[class="data"] th .description {
	display: block;

	margin-right: -13.5rem;
	padding: 1rem 0 0.75rem;

	font-style: italic;
	font-weight: normal;
}

tr[class="total"] {
	border-bottom: 4px double #0a0a23;
	font-weight: bold;
}

tr[class="total"]:hover {
	background: #99c9ff;
}

tr[class="total"] td {
	text-align: right;
	padding: 0 0.25rem;
}

tr[class="total"] td:nth-of-type(3) {
	padding-right: 0.5rem;
}

tr[class="total"] th {
	text-align: left;
	padding: 0.5rem 0 0.25rem 0.5rem;
}

td[class="current"] {
	font-style: italic;
}

#years {
	position: sticky;
	top: 0;

	display: flex;
	justify-content: flex-end;
	z-index: 999;

	padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;
	margin: 0 -2px;

	background-color: #0a0a23;

	color: #fff;
}

#years span[class] {
	width: 4.5rem;
	font-weight: bold;
	text-align: right;
}

.table-wrap {
	padding: 0 0.75rem 1.5rem 0.75rem;
}
