* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f5f6f7;
    font-family: sans-serif;
}

.header {
    padding: 32px;
    border-bottom: 4px solid #fdb347;
    background: #0a0a23;

    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    max-width: 1400px; 

    padding: 20px 10px;
    margin: 0 auto;
}

.gallery img {
    object-fit: cover;

    width: 100%;
    max-width: 350px;
    height: 300px;

    border-radius: 10px;
    gap: 16px;
}

.gallery::after {
    content: "";
    width: 350px;
}